.products_sidebar {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #fff;
}

.products_sidebar h2 {
  font-size: 26px;
  margin-bottom: 10px;
}

.category_links {
  display: flex; /* 또는 display: grid; */
  flex-direction: column; /* 세로 정렬일 경우 */
  gap: 20px; /* 요소들 사이 간격 조절 */
}
